nav{
    background-color: #372C30;
}

body{
    background-color: #BEB481;
    margin-bottom: 120px;
}

body img {
    width: 800px;
}

.container.base {
    max-width: 1500px;
    min-height: 400px;
    margin: 50px auto;
}

.bg-jumbotron {
    background-color: #9BA789;
}

.person {
    width: 80px;
}

footer {
    position:fixed;
    min-height: 80px;
    left: 0;
    right: 0;
    bottom:0;
    margin-bottom: 0;
    background-color: #202020;
    padding-top: 30px;
}