{% extends '_base.html' %}

{% block main %}
<h2 class="display-3 text-center mb-4">Home Page</h2>
<div class="jumbotron bg-jumbotron">
    <h1 class="display-4 text-center">Wanna visit Baikal Lake? <a href="{{ url_for('signup') }}">Signup!</a></h1>
    <p class="text-muted text-center">Lake Baikal is the largest freshwater lake by volume in the world, containing 22 to 23% of the world's fresh surface water.With 23,615.39 km3 (5,670 cu mi) of fresh water, it contains more water than all of the North American Great Lakes combined. With a maximum depth of 1,642 m (5,387 ft), Baikal is the world's deepest lake. It is considered[by whom?] among the world's clearest lakes and is considered[by whom?] the world's oldest lake, at 25–30 million years. It is the seventh-largest lake in the world by surface area.</p>
</div>

<h2 class="display-4 text-center">Views of Baikal Lake</h2>
<div class="text-center">
  <img src="{{ url_for('static', filename='img/bay.jpg') }}" class="my-4">
</div>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi distinctio dignissimos amet architecto placeat
    neque nihil laborum modi magnam corrupti iusto, mollitia molestias. Distinctio, fugit accusamus amet voluptatum
    repellendus id reprehenderit temporibus harum et illum blanditiis qui ullam quaerat? Consequuntur dolorem voluptates
    obcaecati aut eveniet perspiciatis expedita, adipisci accusamus distinctio.</p>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi distinctio dignissimos amet architecto placeat
      neque nihil laborum modi magnam corrupti iusto, mollitia molestias. Distinctio, fugit accusamus amet voluptatum
      repellendus id reprehenderit temporibus harum et illum blanditiis qui ullam quaerat? Consequuntur dolorem voluptates
      obcaecati aut eveniet perspiciatis expedita, adipisci accusamus distinctio.</p>

{% endblock main %}