{% extends '_base.html' %}

{% block main %}

<form class="mt-4" method="POST">
    <div class="container w-50">
        <h1 class="display-3 text-center">Wanna visit Baikal Lake? Signup!</h1>
        <form class="mt-4" method="POST" action="/signup">
          <input type="text" class="form-control my-4" placeholder="Login" name="login">
          <input type="email" class="form-control my-4" placeholder="Email" name="email">
          <input type="password" class="form-control my-4" placeholder="Password" name="password">
          <button type="submit" class="btn btn-block btn-success mb-2 my-4">Signup</button>
        </form>
    </div>
  </form>

{% endblock main %}