{% extends "base.html" %}

{% block content %}

<h2>Hello, {{ user.username | upper}}</h2>
<ul class="list-group">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
<hr>
<ul class="list-group">
    {% for post in posts %}
    <li class="list-group-item">
        <p class="text-muted">{{ post.author.username }}:</p>
        {{ post.body }}
    </li>
    {% endfor %}
</ul>

{% endblock %}
