{% extends "base.html" %}
{% block content %}

<h2>Login</h2>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.username.label }}
        {{ form.username }}
        {% for error in form.username.errors %}
            <span>{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ form.password.label }}
        {{ form.password }}
        {% for error in form.username.errors %}
            <span>{{ error }}</span>
        {% endfor %}
    </p>
    <p>{{ form.remember_me() }}  {{ form.remember_me.label }}</p>
    <p>{{ form.submit() }}</p>
    <br>
    <p><a href="{{ url_for('register') }}">Don't registered yet?</a></p>
    <ul class="list-group">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <li class="list-group-item">{{ message }}</li>
            {% endfor %}
        {% endif %}
        {% endwith %}
    <hr>
</form>


{% endblock %}