{% extends "base.html" %}
{% block content %}
<section id="actions" class="py-4 mb-4 bg-light">
    <div class="container">
      <div class="row">
      </div>
    </div>
  </section>

  <!-- login -->
  <section id="categories">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
            <h2>{{ title }}</h2>
            <h3>Written by: {{ post.author.username }}</h3>
            <h4 class="muted">{{ post.date.strftime('%d %B %Y') }}</h3>
            <p>{{ post.text }}</p>
            {% if post.author == current_user %}
                <div>
                    <a href="{{ url_for('blog_posts.update', blog_post_id=post.id) }}">Update</a>
                    <button type="button" class="btn btn-dange" data-toggle='modal' data-target='#del_modal'>Delete</button>
                </div>
            {% endif %}
        </div>
      </div>
    </div>
  </section>
  

  <div class="modal" tabindex="-1" id="del_modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete Post?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete the post?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <form action="{{ url_for('blog_posts.delete', blog_post_id=post.id) }}" method="POST">
            <input class="btn btn-dange" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}