{% extends "base.html" %}

{% block header %}
    <!-- header -->
    <header id="main-header" class="py-2 bg-warning text-white">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1><i class="fas fa-folder"></i> Categories</h1>
          </div>
        </div>
      </div>
    </header>

    <!-- search -->
    <section id="search" class="py-4 mb-4 bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto">
              <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search Categories...">
                  <div class="input-group-append">
                      <button class="btn btn-warning">Search</button>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}

{% block content %}
    <!-- posts -->
    <section id="posts">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-header">
                <h4>List of Categories</h4>
              </div>
              <table class="table table-striped">
                <thead class="thead-dark">
                  <tr>
                    <th>#</th>
                    <th>Pic</th>
                    <th>Title</th>
                  </tr>
                </thead>
                <tbody>
                  {% for category in all_cats %}
                  <tr>
                    <td>{{ category.id }}</td>
                    <td><a href="#">{{ category.category_name }}</a></td>
                    <td>{{ category.cat_desc }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
