{% extends "base.html" %}

{% block header %}
  <header id="main-header" class="py-2 bg-primary text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1><i class="fas fa-home"></i> Home</h1>
        </div>
      </div>
    </div>
  </header>
    <!-- actions -->
    <section id="actions" class="py-4 mb-4 bg-light">
      <div class="container">
        <div class="row">
        {% if current_user.is_authenticated %}
          <div class="col-md-6">
            <!-- <a
              href="{{ url_for('blog_posts.create_post') }}"
              class="btn btn-danger btn-block"
            > -->
            <a
              href="#"
              class="btn btn-danger btn-block"
              data-toggle="modal"
              data-target="#addPostModal"
            >
              <i class="fas fa-plus"></i> Add Post
            </a>
          </div>
          <div class="col-md-6">
            <a
              href="#"
              class="btn btn-warning btn-block"
              data-toggle="modal"
              data-target="#addCategoryModal"
            >
              <i class="fas fa-plus"></i> Add Category
            </a>
          </div>
        {% endif %}
        </div>
      </div>
    </section>

{% endblock %}

{% block content %}
      <!-- posts -->
      <section id="posts">
        <div class="container">
          <div class="row">
            <div class="col-md-9">
              <div class="card">
                <div class="card-header">
                  <h4>Latest Posts</h4>
                </div>
                <table class="table table-striped">
                  <thead class="thead-dark">
                    <tr>
                      <th>Title</th>
                      <th>Category</th>
                      <th>Author</th>
                      <th>Published</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for post in blog_posts.items %}
                    <tr>
                      <td><a href="{{ url_for('blog_posts.blog_post', blog_post_id=post.id) }}">{{ post.title }}</a></td>
                      <td>
                        {% if post.categories != [] %}
                        {% for category in post.categories %}
                            <a href="#">
                              {{ category.category_name }}
                            </a>
                            {% endfor %}
                        {% else %}
                          Empty
                        {% endif %}
                      </td>
                      <td>Written by: <a href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a></td>
                      <td>{{ post.date.strftime('%d %B %Y') }}</td>
                      <!-- <p>{{ post.text }}</p> -->
                      <td>
                        <a href="{{ url_for('blog_posts.blog_post', blog_post_id=post.id) }}" class="btn btn-secondary">
                          <i class="fas fa-angle-double-right"></i> Details
                        </a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>

                <!-- pagination -->
                <nav class="ml-4">
                  <ul class="pagination">
                    {% for page_num in blog_posts.iter_pages(left_edge=1, left_current=1, right_current=2) %}
                      {% if blog_posts.page == page_num %}
                        <li class="page-item disabled">
                            <a href="{{ url_for('core.index', page=page_num)  }}" class="page-link">{{ page_num }}</a>
                        </li>
                      {% else %}
                        <li class="page-item">
                            <a href="{{ url_for('core.index', page=page_num)  }}" class="page-link">{{ page_num }}</a>
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </nav>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card text-center bg-danger text-white mb-3">
                <div class="card-body">
                  <h3>Posts</h3>
                  <h4 class="display-4">
                    <i class="fas fa-pencil-alt"></i> {{ qty_posts }}
                  </h4>
                  <a href="{{ url_for('blog_posts.posts') }}" class="btn btn-outline-light btn-sm">View</a>
                </div>
              </div>
              <div class="card text-center bg-warning text-white mb-3">
                <div class="card-body">
                  <h3>Categories</h3>
                  <h4 class="display-4">
                    <i class="fas fa-folder"></i> {{ qty_cats }}
                  </h4>
                  <a href="{{ url_for('category.list_cats') }}" class="btn btn-outline-light btn-sm">View</a>
                </div>
              </div>
              <div class="card text-center bg-success text-white mb-3">
                <div class="card-body">
                  <h3>Users</h3>
                  <h4 class="display-4">
                    <i class="fas fa-users"></i> {{ qty_users }}
                  </h4>
                  <a href="{{ url_for('users.list_users') }}" class="btn btn-outline-light btn-sm">View</a>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </section>

{% endblock %}

{% block modals %}
<!-- modals -->
  <!-- add posts modal -->
  <div class="modal fade" id="addPostModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-danger text-white">
          <h5 class="modal-title">Add Post</h5>
          <button class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" id="addpost">
            {{ form.hidden_tag() }}
            <div class="form-group">
              <label for="title">{{ form.title.label }}</label>
              {{ form.title(class_="form-control") }}
            </div>
            <div class="form-group">
              <label for="category">{{ form.category.label }}</label>
              {{ form.category(class_="form-control") }}
              <!-- <select class="form-control">
                <option value="">Web Development</option>
                <option value="">Tech Gadgets</option>
                <option value="">Business</option>
                <option value="">Health</option>
              </select> -->
            </div>
            <div class="form-group">
              <label for="image">Upload File</label>
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="image">
                <label for="image" class="custom-file-label">Choose File</label>
                <small class="form-text text-muted">Max Size 3Mb</small>
              </div>
              <div class="form-group">
                <label for="body">{{ form.text.label }}</label>
                <!-- <textarea name="editor1" class="form-control"></textarea> -->
                {{ form.text(class_="form-control") }}
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <!-- <button class="btn btn-danger" data-dismiss="modal">Save Changes</button> -->
          {{ form.submit(class_="btn btn-danger") }}
        </div>
      </div>
    </div>
  </div>

  <!-- add categories modal -->
  <div class="modal fade" id="addCategoryModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-warning text-white">
          <h5 class="modal-title">Add Category</h5>
          <button class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="title">Title</label>
              <input type="text" class="form-control">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-warning" data-dismiss="modal">Save Changes</button>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}