{% extends "base.html" %}
{% block content %}
    <section id="about" class="py-4 mb-4 bg-light">
        <div class="container">
            <div class="row w-100">
                <h3>About Us</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur in nesciunt, eveniet libero ipsum ut pariatur esse facere? Cum, aliquid veniam commodi sequi laudantium ullam tenetur? Fugit non sed praesentium quasi! Assumenda corporis tempore soluta expedita excepturi exercitationem! Itaque tempora explicabo laboriosam reiciendis maiores enim aliquam, aut eius cumque tenetur molestiae perspiciatis officia, magni veniam numquam eaque amet totam facilis expedita, neque corporis! Iste voluptatem provident sit pariatur commodi placeat. Voluptate aperiam perferendis consectetur quam, praesentium tenetur amet laudantium earum officia vitae beatae eaque, magni ipsum ducimus veniam aut. Voluptatibus, sint veniam, quod dicta commodi odio consequatur, itaque quas facilis repudiandae maiores nulla adipisci similique tempore ipsam vero consequuntur totam! Culpa molestias dignissimos doloremque, voluptas aliquid magnam ducimus eius assumenda.</p>
            </div>
        </div>
    </section>
{% endblock %}