{% extends "base.html" %}

{% block header %}
<!-- header -->
<header id="main-header" class="py-2 bg-primary text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1> Post #{{ post.id }}</h1>
      </div>
    </div>
  </div>
</header>
{% endblock %}

{% block content %}
    <!-- actions -->
    <section id="actions" class="py-4 mb-4 bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <a href="{{ url_for('core.index') }}" class="btn btn-light btn-block">
              <i class="fas fa-arrow-left"></i> Back
            </a>
          </div>
          {% if post.author == current_user %}
            <div class="col-md-4">
              <a href="{{ url_for('blog_posts.update', blog_post_id=post.id) }}" class="btn btn-success btn-block">
                <i class="fas fa-check"></i> Edit Post
              </a>
            </div>
            <div class="col-md-4">
              <a href="{{ url_for('core.index') }}" class="btn btn-danger btn-block">
                <i class="fas fa-trash"></i> Delete Post
              </a>
            </div>
          {% endif %}
        </div>
      </div>
    </section>

    <!-- details -->
    <section id="details">
      <div class="container">
        <div class="row">
          <div class="col">
              <div class="card">
                  <div class="card-header">
                      <h4 class="card-title">{{ post.title }}</h4>
                  </div>
                  <div class="card-body">
                    <h5>Category: 
                      {% if post.categories != [] %}
                      {% for category in post.categories %}
                            {{ category.category_name }}
                      {% endfor %}
                      {% else %}
                        Empty
                      {% endif %}
                    </h5>
                    <p>Author: {{ post.author.username }}   <span class="text-muted">{{ post.date.strftime('%d %B %Y') }}</span></p>
                    <p>{{ post.text }}</p>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </section>

    {% if post.author == current_user %}
    <div class="modal" tabindex="-1" id="del_modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Delete Post?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete the post?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <form action="{{ url_for('blog_posts.delete', blog_post_id=post.id) }}" method="POST">
              <input class="btn btn-dange" type="submit" value="Delete">
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

{% endblock %}