{% extends "base.html" %}

{% block header %}
    <!-- header -->
    <header id="main-header" class="py-2 bg-success text-white">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1><i class="fas fa-users"></i> Users</h1>
          </div>
        </div>
      </div>
    </header>

    <!-- search -->
    <section id="search" class="py-4 mb-4 bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto">
              <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search User...">
                  <div class="input-group-append">
                      <button class="btn btn-success">Search</button>
                  </div>
              </div>

          </div>
        </div>
      </div>
    </section>
{% endblock %}

{% block content %}
    <!-- users -->
    <section id="posts">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-header">
                <h4>List of Users</h4>
              </div>
              <table class="table table-striped">
                <thead class="thead-dark">
                  <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {% for user in all_users %}
                  <tr>
                    <td>{{ user.id }}</td>
                    <td><a href="#">{{ user.username }}</a></td>
                    <td>{{ user.email }}</td>
                    <td>
                      <a href="{{ url_for('users.account') }}" class="btn btn-secondary">
                        <i class="fas fa-angle-double-right"></i> Details
                      </a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}