{% extends 'base.html' %}

{% block title %}Home page{% endblock %}

{% block content %}
<h2>Test it!</h2>
{% with messages = get_flashed_messages(True) %}
{% if messages %}
{% for cat, message in messages %}
<div class="alert alert-{{ cat }} alert-dismissible fade show" role="alert">
  <strong>{{ message }}!</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}
{% endif %}
{% endwith %}

{% endblock %}