<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{{  url_for('index')  }}">K4W</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{  url_for('index')  }}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{  url_for('puppies.list_puppies')  }}">Puppies List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{  url_for('puppies.add_puppy')  }}">Add pup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{  url_for('puppies.del_puppy')  }}">Delete pup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{  url_for('owners.add_owner')  }}">Add Owner</a>
        </li>
      </ul>
    </div>
  </div>
</nav>